@media only screen and (max-width: 992px) {
    nav {
        height: 100%!important;
    }
}
@media only screen and (max-width: 500px) {
    .my-col {
        flex: none;
    }
    .active:before {
        display: none;
    }
    .active:after {
        content: '';
        height: 100%;
        width: 4px;
        color: #FECE0E;
        background-color: #FECE0E;
        position: absolute;
        top: 0;
        right: 0;
    }
    #carousel > .swiper {height: 200px}
    .carousel-btn {top: calc(100vh*0.05);}
    .carousel-btn-2 {top: calc(100vh*0.1);}
    .crs-title {top: calc(100vh*0.1); font-size: 12px!important;}
    .crs-title-2 {top: calc(100vh*0.2); font-size: 12px!important;}
    .crs-btn-2 {font-size: 12px!important;padding: 0.3rem 1.2rem;}
    .my-container {
        padding-left: var(--bs-gutter-x,1rem) !important;
        padding-right: var(--bs-gutter-x,1rem) !important;
    }
    iframe {width: 100%}
}
@media only screen and (min-width: 1920px){
    .carousel-btn {top: calc(100vh*0.4);}
    .crs-title {top: calc(100vh*0.45);}
    .space {height: calc(100vh*0.4)}
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 100%!important;
        padding-right: var(--bs-gutter-x,1rem);
        padding-left: var(--bs-gutter-x,1rem);
    }
    .nav-item {margin-right: calc(100vw*0.005);}
}

@media only screen and (min-height: 1000px) {
    .crs-btn {top: calc(100vh*0.6)}
}

@media only screen and (min-width: 1440px) {
    .nav-item {
        margin-right: calc(100vw*0.025);
    }
}

